<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="causes" class="page causes">

        <!-- Scrollable page content -->
        <div class="page-content page-content-black">
           <div class="menutop">
              <div class="menuopen"><a href="#" class="menu"><span></span></a></div>
            </div>
            <div class="cards">
                <ul>
                        
                        
                        <!-- <li id="num2">
                            <div class="cardo">
                                <div class="screenclose"><a href="#" class="closescreen"><img src="img/cross-gray.png" alt=""> Cerrar</a></div>
                                <div class="imagenbg" style="background-image: url(img/card.jpeg);"></div>
                                <div class="scroll">
                                    <h2>
                                        <img src="img/netflix.png" alt=""><span>Compassion</span>
                                        <a href="#">visitar compassion</a>
                                    </h2>
                                    <div class="meta">
                                        <div class="metaleft">75% de 5000 Jelps</div>
                                        <div class="metaright">43 días</div>
                                        <div class="metacount"><span></span></div>
                                        <b>300 jelps</b>
                                    </div>
                                    <h3>Contribuye a apadrinar a Bongani durante 1 año</h3>
                                     Make an eternal difference in the life of a child in need. Sponsor a child who has been waiting over six months for a sponsor… <a href="#" class="reedmore">leer más</a>
                                    <div class="todotexto">
                                        
                                        <p> Make an eternal difference in the life of a child in need. Sponsor a child who has been waiting over six months for a sponsor…</p>
                                        <p> Make an eternal difference in the life of a child in need. Sponsor a child who has been waiting over six months for a sponsor…</p>
                                        <p> Make an eternal difference in the life of a child in need. Sponsor a child who has been waiting over six months for a sponsor…</p>
                                        
                                    </div>
                                     <a href="index.html" class="buttomgreen ayuda">Ayudar</a>
                                </div>
                               
                            </div>
                        </li> -->
                </ul>
            </div>
            
            
        </div>
    </div>
</div>