<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="contenidos" class="page contenidos">

        <!-- Scrollable page content -->
        <div class="page-content page-content-black page-content-full">
           
            <div class="cards">
                <ul>
                    
                </ul>
            </div>
            <div id="spam"> <img src="img/trash.png" alt=""><span>Spam</span></div>
            <div class="counter"><span></span></div>
            
        </div>
    </div>
</div>