<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="endcontent" class="page endcontent">

        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="menutop">
              <div class="menuopen"><a href="#" class="menu"><span></span></a></div>
          	</div>
             <div class="statscontent">
             	<ul>
                    <li>
                    	<div class="statcontent">
                    		<div class="logos">
		             		</div>
			             	<h4>Has acumulado</h4>
			             	<h5>10 de 50 Jelps</h5>

			             	<p>Tu contribución total de weJelps es de <span id="wejelpstotal">150 Jelps</span></p>
							
			             	<p>La Comunidad ha contribuido con un total de <span id="wejelpstotalcom">1500000 Jelps</span></p>
						
			             	<a href="index.html" class="buttomgreen">Ver otros 30 segundos</a>
			             	<a href="#" class="buttomwhite">Invita a tus amigos</a>
                    	</div>
                    </li>

                </ul>
             	

             </div>
            
        </div>
    </div>
</div>