
<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="faq" class="page faq normalpage">
        <!-- Scrollable page content -->
        <div class="page-content" >
            <div class="menutoopen"><a href="#" class="backmenu"> <img src="img/cross.png" alt="cruz"></a></div>
            

            <h1>Faq</h1>
            <div class="textnormal">
            	
            </div>
            
        </div>
    </div>
</div>