<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="login" class="page login">
        <!-- Scrollable page content -->
        <div class="page-content">
            <h1 class="titulo">LOG IN</h1>
            <div>
                <input type="email" id="email" placeholder="Email">
            </div>
            <div>
                <input type="password" id="pass" placeholder="Contraseña">
            </div>
            <div>
                <input type="button" id="login" value="GO">
            </div>
            <p>¿No te has Registrado?</p>
            <a href="register.html">Regístrate</a>
            
        </div>
    </div>
</div>