
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="profile" class="page register">
    <!-- Scrollable page content -->
    <div class="page-content">
       <h1 class="titulo">REGÍSTRATE</h1>
       <p>Rellena los campos del formulario de registro para poder continuar</p>
        <div>
            <input type="text" id="email" placeholder="Email">
        </div>
        <div>
            <input type="text" id="name" placeholder="Nombre">
        </div>
        <div>
            <input type="text" id="surname" placeholder="Apellidos">
        </div>
        
        
        <div class="optionmenu">
            <ul>
                <li>

                <input type="radio" id="m-option" value="0" name="sex">
                <label for="m-option" >Hombre</label>

                </li>
                <li>

                <input type="radio" id="f-option" value="1" name="sex">
                <label for="f-option">Mujer</label>

                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div>
            <input type="date" id="datebirth" placeholder="Fecha de Nacimiento aaaa-mm-dd">
        </div>
        <div>
          
            <select title="¿En que ciudad vives?" id="countries">
      
            </select>
        </div>
        <div>
            <input type="text" id="pass" placeholder="Nueva Contraseña">
        </div>
        <div>
            <input type="text" id="rpass" placeholder="Repite Nueva contraseña">
        </div>
        <div>

            <input type="button" id="continuar" value="Actualizar">
            <input type="button" id="volver" value="Volver">
        </div>
    </div> 
  </div>
</div>
