
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="register" class="page register">
    <!-- Scrollable page content -->
    <div class="page-content">
       <h1 class="titulo">REGÍSTRATE</h1>
       <p>Rellena los campos del formulario de registro para poder continuar</p>
        <div>
            <input type="email" id="mail" placeholder="Email">
        </div>
        <div>
            <input type="text" id="name" placeholder="Nombre">
        </div>
        <div>
            <input type="text" id="surname" placeholder="Apellidos">
        </div>
        
        
        <div class="optionmenu">
            <ul>
                <li>

                <input type="radio" id="m-option" value="0" name="sex">
                <label for="m-option" >Hombre</label>

                </li>
                <li>

                <input type="radio" id="f-option" value="1" name="sex">
                <label for="f-option">Mujer</label>

                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div>
            <label for="datebirth" class="datalabel">Fecha de Nacimiento</label>
            <input type="date" id="datebirth" placeholder="Fecha de Nacimiento aaaa-mm-dd" title="Fecha de Nacimiento" >
        </div>
        <div>
          
            <select title="¿En que ciudad vives?" id="countries" placeholder="¿En que ciudad vives?">
                <option value="0">¿En que ciudad vives?</option>
            </select>
        </div>
        <div>
            <input type="password" id="passw" placeholder="Contraseña">
        </div>
        <div>
            <input type="password" id="rpass" placeholder="Repite contraseña">
        </div>
        <div>
            <input type="button" id="volver" value="Volver">
            <input type="button" id="continuar" value="Continuar">
        </div>
    </div> 
  </div>
</div>
