
<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="stats" class="page stats normalpage">
        <!-- Scrollable page content -->
        <div class="page-content" >
        	<div class="volver"><a href="#" class="backmenu"> < volver</a></div>
          
            <h2>Proyectos que has apoyado</h2>
            <p>0</p>

            <h2>Número total de Jelps Invertidos</h2>
            <p>0</p>
            <div class="pannel">
            	<h2>Jelps Disponibles para invertir</h2>
            	<p id="num">10/50</p>
            	<div id="invertir">
            		<span>¡Es hora de elegir un proyecto al que apoyar! </span>
            		<a href="index.html" class="buttomgreen">Invertir los jelps</a>
            	</div>
            	<div id="go">
            		<span>Mira otros 30 segundos y apoya tus causas </span>
            		<a href="index.html" class="buttomgreen">GO</a>
            	</div>
            	
            </div>
            
            
        </div>
    </div>
</div>