
<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="tutorial" class="page tutorial">
        <!-- Scrollable page content -->
        <div class="page-content"  style="overflow:hidden">
            
            <a href="typeinterest.html" class="skip">Skip</a>
            <div class="my-cardslider">
                <ul>
                    <li>
                        <div class="oval"></div>
                        <!--div class="oval" style="background-image: url(img/prueba.jpg);"></div-->                        
                        <h2>Convierte</h2>
                        <p>WeJelp es la app que convierte tu tiempo en dinero para causas que más te importan</p>
                    </li>
                    <li><div class="oval"></div>
                        <h2>Tus Causas</h2>
                        <p>Elige las causas que más te importan y a las que quieres destinar tu contribución </p>
                    </li>
                    <li><div class="oval"></div>
                        <h2>Descubre</h2>
                        <p>Durante 30 segundos te mostraremos contenidos cuidadosamente elegidos para ti de tus marcas favoritas</p>
                    </li>
                    
                    <li><div class="oval"></div>
                        <h2>Contribuye</h2>
                        <p>Por cada 30 segundos acumularás 10 WeJelps. Al llegar a 50 Jelps podrás invertirlos en proyectos sociales específicos de tu elección</p>
                    </li>
                    <li><div class="oval"></div>
                        <p>Dale a a siguiente para elegir las contenidos que te apetece ver y las causas que quieres apoyar.</p>
                        <a href="typeinterest.html" class="botondiseno">SIGUIENTE</a>
                       
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>