<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="typeinterest2" class="page typeinterest">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="selectedcards">
               
                
               
                
            </div>
           

            
        </div>
         <div class="footertype toolbar tabbar">
                <!--div id="siguiente"><a href="#">Siguiente</a></div-->
                <input type="button" id="siguiente" value="Siguiente">
            </div>
    </div>

</div>