<div class="pages">
    <!-- Page, "data-page" contains page name -->
    <div data-page="typeinterest" class="page typeinterest">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="selectedcards">
                
                
               
                
            </div>
            

            
        </div>
        <div class="footertype toolbar tabbar">
                 <input type="button" id="anterior" value="Anterior">
                <!--div id="siguiente"><a href="#">Siguiente</a></div-->
                <input type="button" id="siguiente" value="Siguiente">
            </div>
    </div>

</div>