@font-face {
	font-family: 'Futura';
	src: url('fonts/futura-normal.eot');
	src: local('☺'), url('fonts/futura-normal.woff') format('woff'), url('fonts/futura-normal.ttf') format('truetype'), url('fonts/futura-normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura-Bold';
	src: url('fonts/futura-bold.eot');
	src: local('☺'), url('fonts/futura-bold.woff') format('woff'), url('fonts/futura-bold.ttf') format('truetype'), url('fonts/futura-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.statusbar-overlay{
    background-color: #1C1C1C;
    display:none;
}
.clear{clear: both;}
.page{background-color:#1C1C1C;}
.page-content{background-color:#1C1C1C;}
.page-content-white{background-color:#1C1C1C;}
.page-content-black{background-color:#1C1C1C;}
.page-content-full{padding-bottom: 0px!important;}
#nav{height: 100%;width:100%;background-color:#1C1C1C;color:#fff;position:absolute;z-index:9999;display:none;}
#nav .allcontent .logout{ margin-top:20px;float: right;margin-right:15px;color: #fff;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: right;width: 100%;display: block;top: 0px;right: 10px;position: absolute;}
#nav .allcontent h2{margin-top: 50px;margin-left:55px;margin-right:55px;color: #FFFFFF;	font-family: Futura;	font-size: 24px;	font-weight: bold;	line-height: 24px;	text-align: center;}
#nav .allcontent .one{width: 250px;	border-radius: 20px;	background-color: #FFFFFF;color: #474747;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;display:block;height: 30px;margin:0 auto;margin-bottom: 40px;padding-top:13px;}
#nav .allcontent .two{border-radius: 20px;	background-color: #FFFFFF;color: #474747;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;display:block;height: 30px;margin:0 auto;margin-bottom: 40px;padding-top:13px;width: 110px;float:left;}
#nav .allcontent .three{width: 250px;margin:0 auto;}
#nav .allcontent .three a:first-child{margin-right: 30px;}
#nav .allcontent .menutoopen {text-align: center; margin:0 auto; margin-top:5px;}
#nav .allcontent .menutoopen .menub img{width: 13px; height: 13px}
#nav .allcontent .menutoopen .menuclose{width: 25%;;margin: 0 auto;padding: 5px 10px; }
.menutoopen {text-align: center; margin:0 auto; margin-top:5px;}
.menutoopen .backmenu img{width: 13px; height: 13px}
.menutop{position: absolute;}
.menutop .menuopen{width: 25%;;margin: 0 auto;padding: 5px 10px;}
.menutop{ width: 100%;display:block; margin:0 auto;text-align:center;margin-top:5px;}
.menutop .menu{margin: 0 auto;display:block;box-sizing: border-box;	height: 18px;	width: 18px;	border: 1px solid #33FF95;border-radius: 50%;}
.menutop .menu span{margin-top:2px;margin-left:2px;display:block;border-radius: 50%;box-sizing: border-box;	height: 12px;	width: 12px;	border: 1px solid #FFFFFF;background-color: #fff;}
.menubuttom {width: 100%;display:block; margin:0 auto;text-align:center;bottom: 0px;position: absolute;}
.menubuttom .menub{margin: 0 auto;display:block;box-sizing: border-box;	height: 41px;	width: 41px;	border: 1px solid #FFFFFF;border-radius: 50%;}
.menubuttom .menub span{margin-top:4px;margin-left:4px;display:block;border-radius: 50%;box-sizing: border-box;	height: 31px;	width: 31px;	border: 1px solid #FFFFFF;}

.login{text-align: center;color: #fff;}
.login .titulo {	margin-bottom:45px; text-align: center;	color: #fff;	font-family: Futura;	font-size: 24px;	font-weight: bold;	line-height: 32px;	text-align: center;}
.login input{height: 43px;	width: 250px;	border: 2px solid #FFFFFF;	border-radius: 20px;background-color:#1C1C1C;
	color: #fff;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;margin-bottom:25px;}
.login input#login{background-color: #33FF95;border: 2px solid #33FF95;height: 43px;	width: 160px;color: #000;	font-family: Futura;	font-size: 12px;	font-weight: 500;margin-bottom:80px;}
.login a{color: #fff;text-decoration: underline;}
.login p{font-size: 14px;width: 248px;margin: 1em auto;}

.register{text-align: center;color: #fff;}
.register .titulo {	margin-bottom:10px; text-align: center;	color: #fff;	font-family: Futura;	font-size: 24px;	font-weight: bold;	line-height: 32px;	text-align: center;}
.register input{height: 43px;	width: 250px;	border: 2px solid #FFFFFF;	border-radius: 20px;background-color:#1C1C1C;
	color: #fff;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;margin-bottom:25px;}
.register input#continuar{background-color: #33FF95;border: 2px solid #33FF95;height: 43px;	width: 160px;color: #1C1C1C;	font-family: Futura;	font-size: 12px;	font-weight: 500;}
.register input#volver{background-color: #fff;border: 2px solid #fff;height: 43px;	width: 160px;color: #000;	font-family: Futura;	font-size: 12px;	font-weight: 500;}
.register p{font-size: 14px;width: 248px;margin: 1em auto;}
.register #datebirth{background-color: #FFFFFF;border: 1px solid #fff;color:#000;}
.register .datalabel{width: 100%;display:block;margin-bottom:10px;font-size:10px;}
.register select{height: 43px;	width: 250px;	margin-bottom: 40px;	border: 1px solid #fff;	border-radius: 20px;	background-color: #FFFFFF;text-align: center; text-align-last: center;}
.register select option {
  text-align: center;
  /* reset to left*/
}
.register .optionmenu{width: 250px; margin: 0 auto;}
.register ul{display:block;height: 70px;list-style: none; margin: 0;padding: 0; }
.register ul:after{margin-bottom:40px;}
.register ul li{ width: 50%; float:left;}
.register ul li:nth-child(2) label{  float:right;}
.register ul li input[type=radio] + label{cursor: pointer;padding-top: 15px;display:block; height: 28px;	width: 110px;	border-radius: 20px;	background-color: #FFFFFF;color: #474747;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;}

.register ul li:hover label{background-color: #33FF95;color: #1C1C1C;}
.register ul li input[type=radio]:checked + label{
  background-color: #33FF95;color: #1C1C1C;
}
.register ul li input{display:none;}
.register .select2-selection {margin-bottom: 40px;height: 43px;	width: 249.69px;	border: 1px solid #7AC2E6;	border-radius: 20px;	background-color: #FFFFFF;}
.botondiseno{height: 43px;	width: 160px;	border-radius: 20px;	background-color: #33FF95; color: #000 !important;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;padding: 10px 15px;}
.tutorial .cardslider__cards{
	width: 90%;
	height: 90%;
	margin-top:-20px;
}
.tutorial .cardslider__dots-nav{
	
	left: 50%;
}
.tutorial .skip{
	text-decoration: none;
	color:#fff;
	font-family: Futura;	font-size: 12px;	font-weight: 900;float:right;
margin-right: 20px;margin-top:5px;
}
.tutorial ul li{text-align: center;}
.tutorial ul li .oval{box-sizing: border-box; border-radius: 50%;	height: 125px;	width: 125px;	border: 2px solid #33FF95; margin: 0 auto;margin-top:60px;margin-bottom: 60px;}

.tutorial ul li h2{color: #000;	font-family: Futura;	font-size: 14px;	font-weight: 900;	line-height: 23px;	text-align: center;}
.tutorial ul li p{color: #BDBEC0;	font-family: Futura;	font-size: 10px;	font-weight: 500;	line-height: 22px;	text-align: center;padding:20px;}
.tutorial ul li a{color: #4A4B4D;	font-family: Futura;	font-size: 14px;	font-weight: 900;	line-height: 23px;}

.typeinterest .selectedcards{margin-top:25px;}
.typeinterest .selectedcards .card{cursor: pointer;height: 150px;	width: 300px;	border-radius: 5px;	background-color: #fff;	box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);margin: 0 auto;margin-bottom: 25px;}
.typeinterest .selectedcards .card .logo{margin-top: 40px;
margin-left: 30px;max-width: 64px;float:left;width: 64px;}
.typeinterest .selectedcards .card span{display:block;color: #474747;	font-family: Futura;	font-size: 16px;padding-top: 50px;text-align: center}
.typeinterest .selectedcards .card input{display:none;}
.typeinterest .selectedcards .active{	background-color: #33FF95;}

.typeinterest .selectedcards .active span{	color: #000;}

.footertype{	position:absolute;height: 63px;	width: 100%;	background-color: #000;	box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);position: fixed;width: 100%;bottom: 0;}
.footertype input#siguiente{cursor: pointer;float: right;margin-right: 10px;margin-top:10px;background-color: #33FF95;border: 2px solid #33FF95;height: 43px;	width: 140px;color: #000;	font-family: Futura;	font-size: 12px;	font-weight: 500;margin-bottom:80px;box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);border-radius: 20px;}
.footertype input#anterior{cursor: pointer;float: left;margin-left: 10px;margin-top:10px;background-color: #FFFFFF;border: 2px solid #FFFFFF;height: 43px;	width: 140px;color: #000;	font-family: Futura;	font-size: 12px;	font-weight: 500;margin-bottom:80px;box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);border-radius: 20px;}
.footertype div{float: right;margin-right: 20px;margin-top:10px;height: 33px;	width: 142px;	border-radius: 20px;	background-color: #FFFFFF;	box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);	text-align: center;padding-top:10px;}
.footertype div a{color: #4A90E2;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;}
.normalpage h1{text-align:center;color: #fff;	font-family: Futura;	font-size: 14px;	font-weight: 900;	line-height: 23px;	text-align: center; margin-left:56px; margin-right: 56px;}
.normalpage .textnormal{color: #fff;	font-family: Futura;	font-size: 10px;	font-weight: 500;	line-height: 22px;	text-align: justify;margin-left:56px; margin-right: 56px;}
.normalpage .textnormal span{width: 100%;font-size: 13px;display:block;margin-top:10px;}
.cards .imagenbg{height: 56%;border-radius: 10px 10px 0px 0px;background-size: cover;background-position: center center;}
.cards video{width: 100%;border-radius: 10px 10px 0px 0px;background-size: cover;}
.cards .scroll{height: 130px; margin-left:30px;margin-right: 30px; margin-top:30px;max-width: 100%;}
.cards .scroll h2{color: #000000;	font-family: Futura;	font-size: 20px;	font-weight: bold;	letter-spacing: 4px;	line-height: 23px;	text-align: center;height: 55px;}
.cards .scroll h2 img{float: left; height: 55px; width:55px;}
.cards .scroll h2 span{margin-top: 10px;margin-left: 5px;display: block;float: left;position: absolute;padding-left: 55px;}
.cards .scroll p{	color: #474747;	font-family: Futura;	font-size: 14px;	font-weight: 300;	line-height: 14px;	text-align: justify;margin-top:25px;word-wrap: break-word}
.cards .scroll a{ color:#1DA1F2; text-decoration: none;}
.cards .scroll .todotexto{display:none;}
.cards .swipup{color: #000000;	font-family: Futura;	font-size: 12px;	font-weight: 500;	line-height: 15px;	text-align: center;}
.cards .swipup img{ width: 24px; height: 15px; display: block;margin: 0px auto;}
.cards .vuttinup{font-family: Futura;background-color: #33FF95;border-radius: 20px; color:#000; font-size:12px;display: block;
height: 30px;
margin: 0 auto;
margin-bottom: 40px;
padding-top: 13px; max-width:200px; text-align:center;}
.cards .cardslider__cards{width: 95%;height: 95%;}
.cards .cardslider__dots-nav{bottom: 0px;}
.cards .cardo{background: whitesmoke;border-radius: 10px;height: 100%;position: absolute;-webkit-box-shadow: 1px 2px 12px 1px rgba(0,0,0,0.3);-moz-box-shadow: 1px 2px 12px 1px rgba(0,0,0,0.3);box-shadow: 1px 2px 12px 1px rgba(0,0,0,0.3);width: 100%}
.cards #muted{float: right;margin-top: -40px;display: block;position: absolute;right:5px;}
.cards .backcard{display:block; position:absolute;background-color:#fff;width: 100%; height: 100%; border-radius: 10px 10px 10px 10px;}
.cards .backcard .cross{float: left;margin-top: 10px;margin-left: 10px;width: 17px;height: auto;}
.cards .backcard .check{float: right;margin-top: 10px;margin-right: 10px;}
.green{background-color: #50E3C2 !important;}
.red{background-color: #FF6C6C !important;}
.toolbar:before{background-color: #000;}
.cards .left{z-index:99;height: 40%;width: 50%; display:block;background-color: #FF6C6C;border-radius: 10px 0px 0px 10px;float: left;}
.cards .right{z-index:99;height: 40%;width: 50%;display:block;background-color: #50E3C2;border-radius: 0px 10px 10px 0px;float:right;}
.cards .left img{float: left;margin-top: 10px;margin-left: 10px;width: 17px;height: auto;}
.cards .right img{float: right;margin-top: 10px;margin-right: 10px;}
.cardslider__dot-btn::before{background-color:#33FF95;}
.cardslider__dot--active .cardslider__dot-btn{border: 2px solid #33FF95;}
.cards .cardslider--sortfront-left  {animation: sortback-right 0.67s; }
.counter{z-index: 999999;height: 5px;	width: 100%;	background-color: #1C1C1C;position: fixed;width: 100%;bottom: 0;}
.counter span{background-color: #33FF95;width: 0%;height: 5px;float: left;display: block;}
#spam{height: 40px;bottom: 0px;background-color: rgba(255, 108, 108, 0.68);display: none;color: #FFFFFF;font-family: Futura;font-size: 14px;font-weight: 900;line-height: 15px;text-align: center;position: fixed;width: 100%;}
#spam img{width: 35px; height: auto; margin-left:-20px;}
#spam span{display: block;margin-top: -25px;margin-left: 50px;}

.screenfull{width: 100%!important;height: 100%!important;z-index: 999!important;}
.screenfull li{border-radius: 10px;}
.screenfull li .cardo{overflow-y: scroll!important;margin-bottom: -10px!important;bottom: 20px !important;}
.screenfull li .cardo .swipup{display:none!important;}
.screenfull li .cardo .scroll{overflow-y: visible!important;}

/* stast content */
.statscontent{
margin-top:28px;
}
.statscontent .cardslider__cards{width: 95%;height: 95%;}
.statscontent .statcontent{padding:23px;}
.statscontent .statcontent .logos{min-height: 120px;}
.statscontent .statcontent .logos span{width: 25%;display:block;float:left; text-align: center;margin-bottom: 10px;}
.statscontent .statcontent .logos span img {width: 48px;height: 48px;}
.statscontent .statcontent .logos:after {
    content: '';
    display: block;
    clear: both;
}
.statscontent .statcontent h4{margin:0px; padding:0px;margin-top:40px;text-align: center;   color: #474747; font-family: Futura;    font-size: 18px;    font-weight: bold;  line-height: 24px;  text-align: center;}
.statscontent .statcontent h5{margin:0px; padding:0px;text-align: center;   color: #000000; font-family: Futura;    font-size: 18px;    font-weight: bold;  line-height: 24px;  text-align: center;}
.statscontent .statcontent p{   color: #474747; font-family: Futura;    font-size: 15px;    line-height: 15px;  text-align: center;}
.statscontent .statcontent p span{font-weight: bold;}
/* index page */

.start{margin-top:28px;}
.start img{margin-top:10%;}
.start h1{margin:0px; padding:0px;width: 248px; color: #FFFFFF; font-family: Futura;    font-size: 20px;    font-weight: bold;  line-height: 34px;  text-align: center;margin:0 auto;margin-top:38px;}
.start .infotext{width: 248px;  color: #FFFFFF; font-family: Futura;    font-size: 14px;    line-height: 15px;  text-align: center;margin:0 auto;margin-top:60px;}
/* page stats */
.stats {padding:23px;}
.stats .volver{float:left;color: #FFFFFF;  font-family: Futura;    font-size: 12px;    font-weight: 500;   line-height: 15px;}
.stats h2{ color: #FFFFFF; font-family: Futura;  font-size: 24px;    font-weight: bold;  line-height: 24px;  text-align: center;}
.stats p{color: #FFFFFF; font-family: Futura;  font-size: 24px;    line-height: 24px;  text-align: center;}
.stats .pannel{text-align: center;padding:23px;border-radius: 5px;  background-color: #FFFFFF;  box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);}
.stats .pannel h2{color: #000000;padding:0px;margin:0px;margin-bottom:10px;}
.stats .pannel p{color: #000000;padding:0px;margin:0px;margin-bottom:10px;}
.stats .pannel span{color: #474747; font-family: Futura;    font-size: 12px;    font-weight: 500;text-align: center;line-height: 12px;}

.buttomwhite{ margin: 0 auto; height: 30px;   width: 160px;   border: 2px solid #33FF95;  border-radius: 20px; display:block; color: #474747 !important; text-decoration:none !important;   font-family: Futura;    font-size: 12px !important;    font-weight: 500 !important;   line-height: 15px;  text-align: center;padding-top:13px; margin-top: 25px;}
.buttomgreen{ margin: 0 auto; height: 30px;   width: 160px;   background-color: #33FF95;  border-radius: 20px; display:block; color: #474747 !important; text-decoration:none !important;   font-family: Futura;    font-size: 12px !important;    font-weight: 500 !important;   line-height: 15px;  text-align: center;padding-top:13px; margin-top: 25px;}

.causes .cards{margin-top: 20px;}
.causes .cards .cardo .imagenbg{height: 35%;}
.causes .cards .cardo .scroll{margin-top:10px;font-size: 14px;	font-weight: 300;}
.causes .cards .cardo .scroll h2 span{margin-top:0px;}
.causes .cards .cardo .scroll h2 a{color: #1DA1F2;	font-family: Futura;	font-size: 9px;	line-height: 24px;display: block;padding-top: 20px;letter-spacing: 0px;float: left;margin-left: 10px;}
.causes .cards .cardo .meta{
	color: #474747;	font-family: Futura; font-size: 9px;	line-height: 24px;height: 30px;
}
.causes .cards .cardo .meta .metaleft{float:left;}
.causes .cards .cardo .meta .metaright{float:right;}
.causes .cards .cardo .meta .metacount{margin-top:20px;width: 100%; display:block;background-color: #F5A623;height: 5px;position: absolute;margin-left: -30px;}
.causes .cards .cardo .meta .metacount span{width: 50%;float:left; background-color: #33FF95;height: 5px;position: absolute;}
.causes .cards .cardo .meta b{color: #474747;	font-family: Futura; font-size: 9px;	line-height: 24px;margin-top: 20px;display: block;position: absolute;font-weight: normal;}

.causes .cards .cardo h3{	color: #000000;	font-family: Futura;	font-size: 18px;	font-weight: bold;	line-height: 20px;margin: 15px 0px;}
.causes .cards .cardo .buttomgreen{margin-top:10px;}
.causes .cards .cardo .screenclose{width: 100%;height: 30px;padding-top: 10px;padding-left: 10px;position: absolute;background-color: #fff;display:none;}
.causes .cards .cardo .screenclose a{color: #8C8C8C;	font-family: Futura;	font-size: 14px;	font-weight: 500;	line-height: 19px;}
.causes .cards .cardo .screenclose a img{margin-top:4px;}

.rotatleft{
    -webkit-animation-name: spinleft;
    -webkit-animation-duration: 10ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spinleft;
    -moz-animation-duration: 10ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spinleft;
    -ms-animation-duration: 10ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spinleft;
    animation-duration: 10ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
  
}
.rotatbackleft{
    -webkit-animation-name: spinleftback;
    -webkit-animation-duration: 10ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spinleftback;
    -moz-animation-duration: 10ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spinleftback;
    -ms-animation-duration: 10ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spinleftback;
    animation-duration: 10ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
  
}

.rotatright{


    -webkit-animation-name: spinright;
    -webkit-animation-duration: 10ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spinright;
    -moz-animation-duration: 10ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spinright;
    -ms-animation-duration: 10ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spinright;
    animation-duration: 10ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
  
}
.rotatbackright{


    -webkit-animation-name: spinrightback;
    -webkit-animation-duration: 10ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spinrightback;
    -moz-animation-duration: 10ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spinrightback;
    -ms-animation-duration: 10ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spinrightback;
    animation-duration: 10ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
  
}

.downspam{
	-webkit-animation-name: spindown;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spindown;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spindown;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spindown;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.upspam{
	-webkit-animation-name: spinup;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: spinup;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: spinup;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: forwards;

    animation-name: spinup;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@-moz-keyframes spinleft {
    from { -moz-transform: rotate(0deg); 
    bottom: 0px;
	right: 0px;}
    to { -moz-transform:rotate(-15deg);
        bottom: 35px;}
}
@-webkit-keyframes spinleft {
    from { -webkit-transform: rotate(0deg); 
    	bottom: 0px;
		right: 0px;}
    to { -webkit-transform:rotate(-15deg);
        bottom: 35px;}
}
@keyframes spinleft {
    from {transform:rotate(0deg);
   		bottom: 0px;
		right: 0px;}
    to {transform:rotate(-15deg);
        bottom: 35px;}
}
@keyframes spinleft {
    0% {
        transform:rotate(0deg);
        bottom: 0px;
		right: 0px;
    }
    100% {
        transform:rotate(-15deg);
        bottom: 35px;
		
    }
}

@-moz-keyframes spinleftback {
    from { -moz-transform:rotate(-15deg);
        bottom: 35px;}
    to { -moz-transform: rotate(0deg); 
    bottom: 0px;
	right: 0px;}
}
@-webkit-keyframes spinleftback {
    from { -webkit-transform:rotate(-15deg);
        bottom: 35px;}
    to { -webkit-transform: rotate(0deg); 
    	bottom: 0px;
		right: 0px;}
}
@keyframes spinleftback {
    from {transform:rotate(-15deg);
        bottom: 35px;}
    to {transform:rotate(0deg);
    	bottom: 0px;
		right: 0px;}
}
@keyframes spinleftback {
    0% {
        transform:rotate(-15deg);
        bottom: 35px;
    }
    100% {
        transform:rotate(0deg);
        bottom: 0px;
		right: 0px;
    }
}


@-moz-keyframes spinright {
    from { -moz-transform: rotate(0deg); 
    bottom: 0px;
	left: 0px;}
    to { -moz-transform: rotate(15deg); 
    bottom: 35px;
    }
}
@-webkit-keyframes spinright {
    from { -webkit-transform: rotate(0deg); 
    	bottom: 0px;
		left: 0px;}
    to { -webkit-transform: rotate(15deg); 
    	bottom: 35px;
		}
}
@keyframes spinright {
    from {transform:rotate(0deg);
   		bottom: 0px;
		left: 0px;}
    to {transform:rotate(15deg);
    	bottom: 35px;
		}
}
@keyframes spinright {
    0% {
        transform:rotate(0deg);
        bottom: 0px;
		left: 0px;
    }
    100% {
        transform:rotate(15deg);
        bottom: 35px;
		
    }
}

@-moz-keyframes spinrightback {
    from { -moz-transform: rotate(15deg); 
    bottom: 35px;
	}
    to { -moz-transform: rotate(0deg); 
    bottom: 0px;
	left: 0px;}
}
@-webkit-keyframes spinrightback {
    from { -webkit-transform: rotate(15deg); 
    	bottom: 35px;
		}
    to { -webkit-transform: rotate(0deg); 
    	bottom: 0px;
		left: 0px;}
}
@keyframes spinrightback {
    from {transform:rotate(15deg);
   		bottom: 35px;
		}
    to {transform:rotate(0deg);
    	bottom: 0px;
		left: 0px;}
}
@keyframes spinrightback {
    0% {
        transform:rotate(15deg);
        bottom: 35px;
		
    }
    100% {
        transform:rotate(0deg);
        bottom: 0px;
		left: 0px;
    }
}



@-moz-keyframes spindown {
    from { 
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
    to { 
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    }
}
@-webkit-keyframes spindown {
    from { 
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
    to {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    }
}
@keyframes spindown {
    from {
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
    to {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    }
}
@keyframes spindown {
    0% {
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;  
    }
    100% {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    }
}
@-moz-keyframes spinup {
    from {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    	
    }
    to {
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
}
@-webkit-keyframes spinup {
    from {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    	
    }
    to {
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
}
@keyframes spinup {
    from {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;
    	
    }
    to {
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
}
@keyframes spinup {
    0% {
    	transform: scale(0.3);
    	margin-top:70%;
    	opacity:0.5;  
    }
    100% {
    	 
    	transform: scale(1);
    	margin-top:0%;
    	opacity:1;
    }
}


